@font-face {
    font-family: 'ds-digitalnormal';
    src: url('../fonts/ds-digi.woff2') format('woff2'),
         url('../fonts/ds-digi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ClockTower {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 301px;
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-image: url('./big_ben_cutout.png')
}

.clockInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;

}

input[type="text"]{
  background: radial-gradient(circle at 55%, #2d2d2d 62%, #111);
  border: solid 2px #77592e;
  border-radius: 500px;
  color: green;
  font-family: 'ds-digitalnormal';
  font-size: 4em;
  text-align: center;
  width: 100%;
  height: 100%;
}
input[type="text"]::selection{
  color: #111;
  background: green;
}

@media all and (max-width: 600px) {

  .clockInputWrapper {
    width: 180px;
    height: 150px;

  }

  input[type="text"]{
    font-size: 3em;

  }
}
