.OutputContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 94%;
  background-color: #222;
  z-index: 20;
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  border-radius: 0px 0px 10px 10px;

  padding: 0 3%;
}

.outputText{
  color: #eee;
  /* transition: 500ms; */
}
.guideText{
  color: #666;
}

.largeHighlighText{
  font-size: 2em;
  color: yellow;
}

@media all and (max-width: 600px) {

  .OutputContainer {
    top:0px;
    left: 0px;
    font-size: 1em;
  }

  .largeHighlighText{
    font-size: 1.5em;
    color: yellow;
  }
}
